body {
  background-color: rgb(47, 44, 44);
  font-family: Arial, sans-serif;
  color: white;
}

header {
  text-align: center;
  padding: 20px;
}

nav a {
  color: rgb(243, 38, 117);
  margin: 10px;
}

h1 {
  color: rgb(255, 10, 10);
}

h2, h3 {
  text-align: center;
  color: rgb(255, 63, 63);
}

section {
  background-color: black;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

p {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid white;
  padding: 10px;
  text-align: center;
}

img {
  display: block;
  margin: auto;
  width: 450px;
}

form {
  text-align: center;
}

input, textarea {
  margin: 10px;
  padding: 5px;
}

button {
  padding: 10px 20px;
  background-color: crimson;
  color: white;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 20px;
  color: pink;
}